[submodule "AldursLab"]
	path = AldursLab
	url = https://github.com/PeterAldur/AldursLab
[submodule "WurmApi"]
	path = WurmApi
	url = https://github.com/PeterAldur/WurmApi
[submodule "WurmAssistantDataTransfer"]
	path = WurmAssistantDataTransfer
	url = https://github.com/PeterAldur/WurmAssistantDataTransfer
