[submodule "AldursLab"]
	path = src/AldursLab
	url = https://github.com/PeterAldur/AldursLab
[submodule "WurmAssistantDataTransfer"]
	path = src/WurmAssistantDataTransfer
	url = https://github.com/PeterAldur/WurmAssistantDataTransfer