[submodule "AldursLab"]
	path = modules/AldursLab
	url = https://github.com/PeterAldur/AldursLab
[submodule "WurmAssistantDataTransfer"]
	path = modules/WurmAssistantDataTransfer
	url = https://github.com/PeterAldur/WurmAssistantDataTransfer