<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.2" targetFramework="net45" requireReinstallation="true" />
  <package id="JetBrains.Annotations" version="10.1.4" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net45" />
</packages>