<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\..\Core\Core.AppFramework.Wpf\packages.config" />
  <repository path="..\..\Core\Core.AppFramework\packages.config" />
  <repository path="..\..\Core\Core.SimpleInjector\packages.config" />
  <repository path="..\..\Core\Core.Testing\packages.config" />
  <repository path="..\..\Core\Core.Tests\packages.config" />
  <repository path="..\..\Core\Core\packages.config" />
  <repository path="..\..\SimplePersist\SimplePersist.Persistence.FlatFiles\packages.config" />
  <repository path="..\..\SimplePersist\SimplePersist.Serializers.JsonNet\packages.config" />
  <repository path="..\..\SimplePersist\SimplePersist.Tests\packages.config" />
  <repository path="..\..\WurmApi\WurmApi.Contracts\packages.config" />
  <repository path="..\..\WurmApi\WurmApi.Impl\packages.config" />
  <repository path="..\..\WurmApi\WurmApi.TestResources\packages.config" />
  <repository path="..\..\WurmApi\WurmApi.Tests\packages.config" />
  <repository path="..\..\WurmApi\WurmApi\packages.config" />
  <repository path="..\..\WurmAssistant3\WurmAssistant2Legacy\packages.config" />
  <repository path="..\..\WurmAssistant3\WurmAssistant3.Contracts\packages.config" />
  <repository path="..\..\WurmAssistant3\WurmAssistant3.Engine\packages.config" />
  <repository path="..\..\WurmAssistant3\WurmAssistant3.LegacyCodebase\packages.config" />
  <repository path="..\..\WurmAssistant3\WurmAssistant3.Tests\packages.config" />
  <repository path="..\..\WurmAssistant3\WurmAssistant3\packages.config" />
</repositories>