<div class="jumbotron">
    <h1>Wurm Assistant API</h1>
    <p class="lead">This service supports online features of Wurm Assistant family of apps for Wurm Online and Wurm Unlimited (MMO)RPG games.</p>
    <p><a href="http://forum.wurmonline.com/index.php?/topic/68031-wurm-assistant-enrich-your-wurm-experience/page-1" class="btn btn-primary btn-lg">Learn more about Wurm Assistant &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Placeholder</h2>
        <p>Nothing here.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Placeholder</h2>
        <p>Nothing here</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Placeholder</h2>
        <p>Nothing here</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>
