<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AldursLab.WurmAssistant.Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AldursLab.WurmAssistant.Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <AldursLab.WurmAssistant.Launcher.Properties.Settings>
            <setting name="WurmAssistantUpdateSourceUrl" serializeAs="String">
                <value>http://wa-ws.azurewebsites.net/api/WurmAssistant3</value>
            </setting>
        </AldursLab.WurmAssistant.Launcher.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <AldursLab.WurmAssistant.Launcher.Properties.Settings>
            <setting name="WurmAssistantWebServiceUrl2DoNotUseThis" serializeAs="String">
                <value>do not use this ancient user settings system, this line is needed or app will crash with 'unknown section' message for anyone who had a prev version with any user setting </value>
            </setting>
        </AldursLab.WurmAssistant.Launcher.Properties.Settings>
    </userSettings>
</configuration>